body {
  background-color: #ffd038;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
}

img {
  margin-top: -50px;
}

.box {
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  position: absolute;
  bottom: 13px;
}
